<?xml version="1.0" encoding="ISO-8859-1"?>

<targets>
  <target path="/eve/frontend">
    <categories priority="DEBUG"/>
  </target>
  <target path="/eve/event-router">
    <categories priority="DEBUG"/>
  </target>
  <target path="/eve/buffer-pool">
    <categories priority="DEBUG"/>
  </target>
  <target path="/eve/listener-manager">
    <categories priority="DEBUG"/>
  </target>
  <target path="/eve/input-manager">
    <categories priority="DEBUG"/>
  </target>
  <target path="/eve/output-manager">
    <categories priority="DEBUG"/>
  </target>
  <target path="/eve/decoder-manager">
    <categories priority="DEBUG"/>
  </target>
  <target path="/eve/encoder-manager">
    <categories priority="DEBUG"/>
  </target>
  <target path="/eve/request-processor">
    <categories priority="DEBUG"/>
  </target>
  <target path="/eve/thread-manager">
    <categories priority="DEBUG"/>
  </target>
</targets>
