<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
        "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
  <apacheDS id="apacheDS" xmlns="http://apacheds.org/config/1.0"
                          synchPeriodMillis="15000"
                          maxThreads="8"
                          allowAnonymousAccess="false">

    <directoryService>
      <defaultDirectoryService id="directoryService" instanceId="default"
                               workingDirectory="example.com"
                               allowAnonymousAccess="false"
                               accessControlEnabled="false"
                               denormalizeOpAttrsEnabled="false">
        <systemPartition>
          <!-- use the following partitionConfiguration to override defaults for -->
          <!-- the system partition                                              -->
          <jdbmPartition id="system" cacheSize="100" suffix="ou=system" optimizerEnabled="true" syncOnWrite="true">
            <indexedAttributes>
              <jdbmIndex attributeId="1.3.6.1.4.1.18060.0.4.1.2.1" cacheSize="100"/>
              <jdbmIndex attributeId="1.3.6.1.4.1.18060.0.4.1.2.2" cacheSize="100"/>
              <jdbmIndex attributeId="1.3.6.1.4.1.18060.0.4.1.2.3" cacheSize="100"/>
              <jdbmIndex attributeId="1.3.6.1.4.1.18060.0.4.1.2.4" cacheSize="100"/>
              <jdbmIndex attributeId="1.3.6.1.4.1.18060.0.4.1.2.5" cacheSize="10"/>
              <jdbmIndex attributeId="1.3.6.1.4.1.18060.0.4.1.2.6" cacheSize="10"/>
              <jdbmIndex attributeId="1.3.6.1.4.1.18060.0.4.1.2.7" cacheSize="10"/>
              <jdbmIndex attributeId="ou" cacheSize="100"/>
              <jdbmIndex attributeId="uid" cacheSize="100"/>
              <jdbmIndex attributeId="objectClass" cacheSize="100"/>
            </indexedAttributes>
            <contextEntry>
              <value xmlns="http://www.springframework.org/schema/beans">
                 objectClass: top
                 objectClass: organizationalUnit
                 objectClass: extensibleObject
                 ou: system
              </value>
            </contextEntry>
          </jdbmPartition>
        </systemPartition>

        <partitions>
          <!-- NOTE: when specifying new partitions you need not include those   -->
          <!-- attributes below with OID's which are the system indices, if left -->
          <!-- out they will be automatically configured for you with defaults.  -->
          <jdbmPartition id="example" cacheSize="100" suffix="dc=example,dc=com" optimizerEnabled="true"
                         syncOnWrite="true">
            <indexedAttributes>
              <jdbmIndex attributeId="1.3.6.1.4.1.18060.0.4.1.2.1" cacheSize="100"/>
              <jdbmIndex attributeId="1.3.6.1.4.1.18060.0.4.1.2.2" cacheSize="100"/>
              <jdbmIndex attributeId="1.3.6.1.4.1.18060.0.4.1.2.3" cacheSize="100"/>
              <jdbmIndex attributeId="1.3.6.1.4.1.18060.0.4.1.2.4" cacheSize="100"/>
              <jdbmIndex attributeId="1.3.6.1.4.1.18060.0.4.1.2.5" cacheSize="10"/>
              <jdbmIndex attributeId="1.3.6.1.4.1.18060.0.4.1.2.6" cacheSize="10"/>
              <jdbmIndex attributeId="1.3.6.1.4.1.18060.0.4.1.2.7" cacheSize="10"/>
              <jdbmIndex attributeId="dc" cacheSize="100"/>
              <jdbmIndex attributeId="ou" cacheSize="100"/>
              <jdbmIndex attributeId="krb5PrincipalName" cacheSize="100"/>
              <jdbmIndex attributeId="uid" cacheSize="100"/>
              <jdbmIndex attributeId="objectClass" cacheSize="100"/>
            </indexedAttributes>
            <contextEntry>
              <value xmlns="http://www.springframework.org/schema/beans">
                objectClass: top
                objectClass: domain
                objectClass: extensibleObject
                dc: example
              </value>
            </contextEntry>
          </jdbmPartition>
        </partitions>

        <interceptors>
          <normalizationInterceptor/>
          <authenticationInterceptor/>
          <referralInterceptor/>
          <aciAuthorizationInterceptor/>
          <defaultAuthorizationInterceptor/>
          <exceptionInterceptor/>
          <operationalAttributeInterceptor/>

          <!-- Uncomment to enable the password policy interceptor
          <passwordPolicyInterceptor/>
          <keyDerivationInterceptor/>
          -->

          <schemaInterceptor/>
          <subentryInterceptor/>
          <collectiveAttributeInterceptor/>
          <eventInterceptor/>
          <triggerInterceptor/>

          <!-- Uncomment to enable replication interceptor
          <replicationInterceptor>
            <configuration>
              <replicationConfiguration serverPort="10390" peerReplicas="instance_b@localhost:10392">
                <replicaId>
                  <replicaId id="instance_a"/>
                </replicaId>
              </replicationConfiguration>
            </configuration>
          </replicationInterceptor>
          -->
        </interceptors>
      </defaultDirectoryService>
    </directoryService>

    <changePasswordConfiguration>
      <changePasswordConfiguration enabled="false" ipPort="464"/>
    </changePasswordConfiguration>

    <ntpConfiguration>
      <ntpConfiguration enabled="false" ipPort="123"/>
    </ntpConfiguration>

    <dnsConfiguration>
      <dnsConfiguration enabled="false" ipPort="53"/>
    </dnsConfiguration>

    <kdcConfiguration>
      <kdcConfiguration enabled="false" ipPort="88"/>
    </kdcConfiguration>

    <ldapsConfiguration>
      <ldapConfiguration enabled="false" ipPort="636" enableLdaps="true"/>
    </ldapsConfiguration>

    <ldapConfiguration>
      <ldapConfiguration ipPort="10389" allowAnonymousAccess="false" saslHost="ldap.example.com"
                         saslPrincipal="ldap/ldap.example.com@EXAMPLE.COM" searchBaseDn="ou=users,ou=system"
                         maxTimeLimit="15000" maxSizeLimit="1000">
        <!-- The list of supported authentication mechanisms.                   -->
        <supportedMechanisms>
          <value xmlns="http://www.springframework.org/schema/beans">SIMPLE</value>
          <value xmlns="http://www.springframework.org/schema/beans">CRAM-MD5</value>
          <value xmlns="http://www.springframework.org/schema/beans">DIGEST-MD5</value>
          <!--<value xmlns="http://www.springframework.org/schema/beans">GSSAPI</value>-->
        </supportedMechanisms>

        <!-- The desired quality-of-protection, used by DIGEST-MD5 and GSSAPI.  -->
        <saslQop>
          <value xmlns="http://www.springframework.org/schema/beans">auth</value>
          <value xmlns="http://www.springframework.org/schema/beans">auth-int</value>
          <value xmlns="http://www.springframework.org/schema/beans">auth-conf</value>
        </saslQop>

        <!-- The realms serviced by this SASL host, used by DIGEST-MD5 and GSSAPI. -->
        <saslRealms>
          <value xmlns="http://www.springframework.org/schema/beans">example.com</value>
          <value xmlns="http://www.springframework.org/schema/beans">apache.org</value>
        </saslRealms>

        <!-- the collection of extended operation handlers to install           -->
        <extendedOperationHandlers>
          <!--startTlsHandler/-->
          <gracefulShutdownHandler/>
          <launchDiagnosticUiHandler/>
          <!-- The Stored Procedure Extended Operation is not stable yet and it may cause security risks.-->
          <!--storedProcedureExtendedOperationHandler/-->
        </extendedOperationHandlers>
      </ldapConfiguration>
    </ldapConfiguration>
  </apacheDS>

  <!-- another bean I didn't convert -->
  <bean class="org.springframework.beans.factory.config.CustomEditorConfigurer">
    <property name="customEditors">
      <map>
        <entry key="javax.naming.directory.Attributes">
          <bean class="org.apache.directory.server.core.configuration.AttributesPropertyEditor"/>
        </entry>
      </map>
    </property>
  </bean>
</beans>
